/* *{
    margin:0;
    box-sizing: border-box;
} */
.homePage-container {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #151414;
}

.row_poster {
    width: 100%;
    object-fit: contain;
    max-height: 100px;
    margin-right: 10px;
    transition: transform 450ms;
    cursor: pointer;
    border-radius: 10px;
}

.row_posters {
    display: flex;
    padding: 20px;
    overflow-y: hidden;
    overflow-x: scroll;
}

.row_poster:hover {
    transform: scale(1.08);
}

.row_posters::-webkit-scrollbar {
    display: none;
}

.row_posterLarge {
    max-height: 250px;
    min-height: 140px;
    border-radius: 10px;
}

.row_posterLarge:hover {
    transform: 1.09;
}

.row {
    color: white;
    margin: 10px;
    font-family: Georgia;
}

.row h2 {
    text-align: left;
    margin-left: 20px;
}

@media (max-width:600px) {
    .row_posterLarge {
        max-height: 200px;
    }

}


@media (max-width:430px) {
    .row_posterLarge {
        max-height: 150px;
    }
}