.movie-screen{
    width: 100%;
    height: 100vh;
}
.movie-poster{
    width: 200px;
    object-fit: contain;
    max-height: 400px;
    margin: 50px;
}
.movie-specs{
    display: flex;
}
.movie-details{
    margin-top: 40px;
    text-align: left;
}
.movie-rating{
    text-align: left;
}
.movie-info{
    text-align: left;
}
.movie-conatiner{
 padding-top: 30px;   
}
.movie-summary-2{
    display: none;
}
.movie-info p{
    margin:5px;
 }
@media (max-width:800px) {
    .movie-poster{
        width: 180px;
        height: 290px;
    }
    .movie-summary{
        display: none;
    }
    .movie-info{
        line-height: 1.2em;
    }
    .movie-summary-2{
        display: block;
    }
    .movie-info p{
        font-size: 14px;
     }
     .movie-details h1{
        font-size: 26px;
     }
     .movie-details{
        margin-top: 55px;
     }
}
