.Admin-movies-container {
    background-color:white;
    color: black;
    height: 100vh;
    padding: 1px;
}

.movie-table {
    width: 700px;
    margin-bottom: 15px;
    padding-bottom: 15px;
    margin: auto;
    height: 700px;
}

.bottom-pagination {
    width: fit-content;
    margin: auto;
}

.pagination-footer {
    background-color: white;
    position: relative;
    bottom: 0px;
    left: 0px;
    right: 0px;
}
