.All-Movie-Container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 25px;
}
.All-movies{
    width: 200px;
    max-height: 300px;
    min-height: 140px;
    object-fit: contain;
    margin-top: 40px;
}

@media (max-width:500px) {
    .All-movies{
        height: 150px;
        /* background-color: red; */
        width: 100px;
    }
    .All-Movie-Container{
        gap: 8px;

    }
}

