.form-createProfile{
    width:340px;
    gap: 20px;
    display: flex;
    flex-direction: column;
    padding: 40px;
    background-color: red;
    margin: auto;
    margin-top: 40px;
    border-radius: 15px;
}
.heading-createProfile{
    margin-top: 80px;
}
.form-createProfile input{
    height: 40px;
}

.profilePic-createProfile{
    width: 100px;
    height: 100px;
    background-color: white;
    margin: auto;
    border-radius: 15px;
}
.completeButton-createProfile{
    height: 40px;
    border-radius: 5px;
}
.upload-createProfile{
    width: 25px;
    height: 25px;
    margin: auto;
    margin-top: 35px;
    background: url('https://static.thenounproject.com/png/625182-200.png');
    background-size: contain;
}