.top-container{
    background-color: white;
    background-color: aliceblue;
}
#myForm-EditProfile{
   width:40%;
    background-color:white;
    height: 400px;
    text-align: center;
    border-radius: 10px;
   
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#FirstName-EditProfile{
    padding-top: 30px;
}

#LastName-EditProfile{
   padding-top: 30px;
}
#Save-Changes-EditProfile{
   margin-top: 60px;
   height: 60px;
}
.Edit-container{
    height: 100vh;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

