.top-container{
    background-color: white;
    background-color: aliceblue;
}
#myForm-EditProfile{
    background-color:white;
    text-align: center;
    border-radius: 10px;
   width: 300px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 30px;
    padding-bottom: 60px;
}
#myForm-EditProfile h1{
    color: black;
}

/* #FirstName-EditProfile{
    padding-top: 30px;
}

#LastName-EditProfile{
   padding-top: 30px;
} */
#Save-Changes-EditProfile{
   height: 60px;
}
.Edit-container{
    height: 100vh;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

