.login-container{
    background-image: url("OnstreamImages/Loginpage_banner.jpg");
    color: azure;
    height:  100%;
    padding-top: 1px;
    background-size: cover;
    background-position: top;
}
#email_address{
    width: 286px;
    height: 28px;
    background-color: white;
    color: black;
}
#email_address::placeholder{
    color: grey;
}
#Account-password{
    width: 286px;
    height: 28px;
    background-color:white;
    color: black;
}
#Account-password::placeholder{
    color: grey;
}
.SignIn_Button{
    width: 316px;
    padding-left: 1px;
    padding-right: 1px;
    margin-top: 24px;
    height: 48px;
    background-color: red;
    color: white;
    font-size: 16px;
    cursor: pointer;
}
.links-loginpage{
    width: 316px;
    display: flex;
    justify-content: space-between;
}
#needhelp{
    text-decoration: none;
    color: white;
}
#verify-email{
    text-decoration: none;
    color: white;
}

#sign-up-Link{
    text-decoration: none;
    color: white;
}
#Learn-more-text{
    width: 325px;
}
#Learn-more-link{
    text-decoration:none;
    color:#0071eb;
    cursor: pointer;
}
#input-elements-all{
    width:300px;
    height: 530px;
    background-color: rgba(0,0,0,.75);
    margin: auto;
    margin-top: 70px;
    padding: 0px 50px;
}
#Center-dispay-div{
    position: relative;
    padding-top:50px;
}
#rememberMe-text{
    color: #737373;
}
#New-User-text{
    color:#737373;
    text-align: left;
}
#Learn-more-text{
    color: #737373;
    text-align: left;
}
#more-links-loginpage{
    background-color: black;
    padding-left: 0px;
    margin-left: 0px;
    padding-bottom: 15px;
}

.login-seprater{
    display: none;
}

@media (max-width:600px) {
    .login-container{
        background-image: none;
        background-color: black;
    }
    .login-seprater{
        margin-top: 70px;
        margin-bottom: 20px;
        display: block;
    }
    #input-elements-all{
        width:350px;
        height: 530px;
        background-color: rgba(0,0,0,.75);
        margin: auto;
        margin-top: 70px;
        padding: 0px;
    }
    #New-User-text{
        margin-left: 0px;
        font-size: 14px;
    }
    #Learn-more-text{
        margin-left: 0px;
        font-size: 14px;
    }
    
    #needhelp{
        font-size: 14px;
    }
    .rememberMe-label{
        margin-left: 0px;
    }
    #Center-dispay-div {
        width: 318px;
        margin: 0px;
        margin-left: 16px;

    }
}

