.profilePage-container{
    height: 100vh;
}
.form-container-profilePage{
    padding: 100px;
}
.form-profilePage{
    width:340px;
    gap: 20px;
    display: flex;
    flex-direction: column;
    padding: 40px;
    background-color: red;
    margin: auto;
    border-radius: 15px;

}

.form-profilePage input{
    height: 40px;
}

.profilePic-profilePage{
    width: 100px;
    height: 100px;
    background-color: white;
    margin: auto;
    border-radius: 15px;
}
.saveButton-profilePage{
    height: 40px;
    border-radius: 5px;
}
.upload-profilePage{
    width: 25px;
    height: 25px;
    margin: auto;
    margin-top: 35px;
    background: url('https://static.thenounproject.com/png/625182-200.png');
    background-size: contain;
}

