.RegisterPage-container{
    margin: 0px;
}

#email-id-registerPage{
 width:440px;
height:30px;
background-color: white;
}
#email-id-registerPage::placeholder{
    color: grey;
    font-size: large;
}
#user-password-registerPage{
    width:440px;
height:30px;
background-color: white;
}
#user-password-registerPage::placeholder{
    color: grey;
    font-size: large;
}
#FirstName-registerPage{
    width:440px;
    height:30px;
    background-color: white;
}
#FirstName-registerPage::placeholder{
    color: grey;
    font-size: large;
}
#LastName-registerPage{
    width:440px;
    height:30px;
    background-color: white;
}
#LastName-registerPage::placeholder{
    color: grey;
    font-size: large;
}
#Next-button-registerPage{
    background-color: red;
    color: white;
    width: 471px;
    height: 64px;
    font-size:24px;
    border-radius: 5px;
}
#component-main-elements{
    width:440px;
    margin: auto;
    margin-top: 80px;
}
#component-main-elements h1{
    width: 430px;
}
#component-main-elements h3{
    width: 340px;
}
#password-alert-registerPage{
    color: red;
    margin-top: 0px;
}

@media (max-width:400px) {
    #email-id-registerPage{
    width:300px;
    }
    #user-password-registerPage{
    width:300px;
    }
    #FirstName-registerPage{
    width:300px;
    }
    #LastName-registerPage{
        width:300px;
    }
    #Next-button-registerPage{
        width: 331px;
        font-size:24px;
    }
    #component-main-elements{
        width:340px;
    }
    #component-main-elements h1{
        width: 320px;
        font-size: 20px;
    }
}